::ng-deep app-task-header-cell {
  min-width: 14%;

  &.selected {
    .date-number {
      border: 1px solid;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 28px;
      width: 28px;
      color: #ffffff;
      background-color: #4fc3f7;
    }
  }

  .cell-container {
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
  }
}
