::ng-deep app-user {
  .body-container {
    display: flex;
    flex-direction: row;
    .side-nav {
      max-width: 40%;

      .calendar-container {
        margin-top: 30px;
        margin-left: 40px;
      }
    }

    .sider-bar-divider {
      width: 3px;
      margin: 30px 30px;
      height: 1050px;
    }

    .task-container {
      width: 100%;
    }
  }
}
