<app-nav-bar></app-nav-bar>
<!-- <router-outlet></router-outlet> -->
<div class="body-container">
  <div class="side-nav">
    <div
      class="calendar-container"
      [ngStyle]="{
        width: '300px',
        border: '1px solid #d9d9d9',
        borderRadius: '4px'
      }"
    >
      <nz-calendar
        [nzFullscreen]="false"
        (nzSelectChange)="onSelectDate($event)"
      ></nz-calendar>
    </div>
  </div>
  <nz-divider nzType="vertical" class="sider-bar-divider"></nz-divider>
  <div class="task-container">
    <app-task [selectedDate]="selectedDate"></app-task>
  </div>
</div>
